@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "framework";

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #eee;
  margin-bottom: 80px;
}